.education-card {
    width: 720px;
    height: 310px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 460px 200px;
    column-gap: 20px;
    align-items: center;

    @media(max-width: 886px) {
        grid-template-columns: 215px 90px;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 20px;
        column-gap: 5px;
        width: 350px;
        height: 204px;
    }
}

.education-card__link {
    position: relative;
    margin-bottom: 12px;
    color: #000;

    @media(max-width: 886px) {
        margin-bottom: 0;
    }
}

.education-card__title {
    font-size: 32px;
    margin-bottom: 12px;
    color: #000;
    grid-column: 1 / 2;

    @media(max-width: 886px) {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.education-card__about {
    font-size: 20px;
    margin-bottom: 12px;
    color: #000;
    grid-column: 1 / 2;

    @media(max-width: 886px) {
        margin-bottom: 0;
        font-size: 14px;
    }
}

.education-card__more-about {
    font-size: 24px;
    margin-bottom: 12px;
    color: #000;
    grid-column: 1 / 2;

    @media(max-width: 886px) {
        font-size: 14px;
        margin-bottom: 0;
    }
}

.education-card__img {
    width: 180px;
    height: 270px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./univ.jpg);
    grid-column: 2 / 3;
    grid-row: 1 / 6;

    @media(max-width: 886px) {
        width: 90px;
        height: 140px;
    }
}

.education-card__img--univ {
    background-image: url(./univ.jpg);
}

.education-card__img--prof {
    background-image: url(./prof.jpg);
}

.education-card__img--adaptive {
    background-image: url(./adaptive.jpg);
}

.education-card__img--js {
    background-image: url(./js.jpg);
}

.education-card__img--react {
    background-image: url(./react.jpg);
}

.education-card__img--wordpress {
    background-image: url(./WordPress.jpg);
}