.nav-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin-bottom: 200px;
    z-index: 1;
    position: relative;

    @media(max-width: 886px) {
        height: 80px;
    }
}


.nav-bar__list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: space-between;

    @media(max-width: 886px) {
        position: absolute;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        top: 79px;
        right: 0;
    }
}

.nav-bar__list--closed {
    @media(max-width: 886px) {
        display: none;
    }
}

.nav-bar__logo {
    color: #000000;
    width: 214px;
    text-align: left;
    margin-right: 60px;
    font-size: 28px;

    @media(max-width: 1200px) {
        display: none;
    }
}

.nav-bar__logo--mobile {
    display: none;

    @media(max-width: 1200px) {
        display: block;
        text-align: left;
        width: 44px;
        margin-right: 60px;
        font-size: 34px;
    }

    @media(max-width: 886px) {
        position: absolute;
        top: 18px;
        left: 34px;
    }
}

.nav-bar__button {
    display: none;

    @media(max-width: 886px) {
        display: block;
        position: absolute;
        width: 44px;
        height: 44px;
        top: 18px;
        right: 30px;
        box-sizing: border-box;
        cursor: pointer;
    }
}

.nav-bar__button--open {
    border: none;
    background-color: #ffffff;

    &::before {
        content: "";
        position: absolute;
        width: 36px;
        height: 3px;
        background-color: #000000;
        top: 11px;
        left: 3px;
        border-radius: 5px;
        box-shadow: 0 9px #000000, 0 18px #000000;
    }
}

.nav-bar__button--closed {
    border: none;
    background-color: #ffffff;

    &::before {
        content: "";
        position: absolute;
        width: 42px;
        height: 3px;
        background-color: #000000;
        transform: rotate(45deg);
        top: 20px;
        left: 2px;
        border-radius: 5px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 42px;
        height: 3px;
        background-color: #000000;
        transform: rotate(-45deg);
        top: 20px;
        left: 1px;
        border-radius: 5px;
    }
}

.nav-bar__item:hover {
    border-bottom: 4px solid #000000;
}

.nav-bar__item {
    margin-right: 12px;
    border-bottom: 4px solid transparent;

    @media(max-width: 886px) {
        width: 100%;
        border-bottom: 1px solid #000000;
        text-align: center;
        box-sizing: border-box;
        padding: 5px 0 5px;

        &:first-child {
            border-top: 1px solid #000000;
        }

        &:hover {
            border-bottom: 1px solid #000000;
        }
    }
}

.naw-bar__link {
    color: #000000;
    font-size: 28px;

    @media(max-width: 1200px) {
        font-size: 24px;
    }
}