.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    padding: 100px 50px;
}

.resume__title {
    font-size: 42px;
    margin-bottom: 48px;
    color: #000;
}

.resume__list--stack {
    display: grid;
    grid-template-columns: 650px 650px;
    column-gap: 50px;
    margin-bottom: 50px;
}

.resume__item {
    font-size: 24px;
    color: #000;
}

.resume__item--about {
    margin-bottom: 12px;
}
