.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    padding: 100px 50px;

    @media(max-width: 886px) {
        padding: 40px 20px;
    }
}

.resume__title {
    font-size: 42px;
    margin-bottom: 48px;
    color: #000;

    @media(max-width: 886px) {
        font-size: 36px;
        margin-bottom: 24px;
    }
}

.resume__list {
    display: grid;
    grid-template-columns: 650px 650px;
    column-gap: 50px;
    margin-bottom: 50px;

    @media(max-width: 1200px) {
        grid-template-columns: 800px;
    }

    @media(max-width: 886px) {
        grid-template-columns: 306px;
    }
}

.resume__item {
    font-size: 24px;
    color: #000;

    @media(max-width: 886px) {
        font-size: 18px;
    }
}

.resume__item--about {
    margin-left: 50px;
    margin-bottom: 12px;
    position: relative;
}

.resume__item--about::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1828/1828710.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 6px;
    left: -36px;
}