.social__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    max-width: 1600px;

    @media(max-width: 886px) {
        margin-bottom: 20px;
    }
}

.social__link {
    color: #000;
}

.social__item {
    border-bottom: 4px solid transparent;
}

.social__item:hover {
    border-bottom: 4px solid #000;
}